body {
  font-family: Montserrat;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 15px 55px;
}

nav img {
  padding: 4px;
  width: 100px;
  height: 20px;
}

button {
  background-color: #211056;
  padding: 10px 20px;
  color: white;
  border-style: none;
  border-radius: 30px;
  cursor: pointer;
}

.nav-links {
  background-color: #f4f4f4;
  border: solid 1px rgb(228, 228, 228);
  border-radius: 30px;
  padding: 6px;
}

.nav-links a {
  text-decoration: none;
  border-radius: 30px;
  padding: 7px 10px;
  margin: 1px;
  font-size: 12px;
}

.nav-links a:hover {
  background-color: #211056;
  color: white;
}

.hero {
  height: 88vh;
  width: 99%;
  margin: 4px 4px 16px 4px;
  background-color: #d1f383;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.hero img {
  box-sizing: border-box;
  border: 15px solid white;
  border-radius: 2px;
}

.left-hero {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* width: 50%; */
}

.left-hero h1 {
  font-size: 50px;
}

/* .companies {
  
} */
.companies img{
  width: 15%;
  border-style: none;
  margin-right: 30px;
}

.first {
  background-color: #ebe6fd;
  padding: 80px 60px;
  height: 30vh;
  text-align: center;
  border-radius: 10px;
}

.second {
  padding: 40px;
}

.second span button{
  float: right;
  border: 1px solid gray;
  background-color: white;
  color: black;
}

.third {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fourth {
  display: grid;
  gap: 10px;
}

.fourth img {
  width: 70%;
  border-radius: 10px;
  grid-column: 1/5;
}

.grid-image {
  height: 50vh;
  border: solid;
  overflow: hidden;
}

.grid-image img {
  overflow: hidden;
}