@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  /* position: relative; */
}

p {
  font-size: 14px;
  font-weight: 200;
}

.hero {
  background-color: #003B3E;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 15px 60px;
}

nav #logo {
  display: flex;
  align-items: center;
}

nav span span {
  margin-left: 15px;
  font-size: 20px;
  color: white;
}

nav span img {
  border-radius: 4px;
}

nav #links a {
  text-decoration: none;
  color: white;
  margin: 0 20px;
  font-size: 14px;
  font-weight: 200;
}

nav #links button {
  background-color: #01DC82;
  padding: 10px 14px;
  border-style: none;
  border-radius: 20px;
  cursor: pointer;
}

.hero center {
  color: white;
}

.hero center h1 {
  font-size: 3rem;
}

.hero center h1 strong {
  color: #003B3E;
  background: linear-gradient(90deg, #01DC82, #f5fe7b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}