@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  background-color: #e0dfdf;
  padding: 25px;
  font-family: Montserrat;
  display: flex;
}

.left {
  width: 24%;
  background-color: #f4f4f4;
  border-radius: 20px;
  margin-right: 25px;
  padding: 25px;
}

.left ul {
  padding: 0;
}

.left li {
  list-style: none;
  margin: 10px 0;
  width: 100%;
}

.left li a {
  display: flex;
  align-items: center;
  /* border: solid; */
}

a {
  text-decoration: none;
  color: grey;
}

.upgrade {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-image: linear-gradient(white, #f4f4f4);
  border-radius: 20px;
  margin-top: 150px;
  margin-bottom: 60px;
}

.upgrade button {
  width: 100%;
  padding: 10px 20px;
  background-color: #b5d8f6;
  border-style: none;
  border-radius: 30px;
  font-weight: 500;
}

.upgrade p {
  width: 70%;
  text-align: center;
}

.left-icon {
  margin-right: 12px;
}

.help div {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.right {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.heading {
  background-color: white;
  padding: 15px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#search-bar {
  border-radius: 30px;
  border-style: none;
  background-color: #f4f4f4;
  padding: 15px;
}

.main {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.chat {
  width: 50%;
  background-color: white;
  border-radius: 20px;
  margin-right: 13px;
  border: solid;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile {
  background-color: #ededed;
  margin: 10px;
  border-radius: 10px;
  width: 95%;
  /* padding: 20px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile box-icon {
  /* margin: 0; */
  float: right;
  width: 16px;
  height: 16px;
  /* border: solid; */
}

.online {
  position: absolute;
  background-color: #ff747c;
  border-radius: 50%;
  border: solid 2px white;
  width: 10px; 
  height: 10px;
  bottom: 8%;
  right: 8%;
}

.profile h4 {
  margin-bottom: 1px;
}

.profile p {
  font-size: small;
}

.profile-icons {
  display: flex;
  justify-content: space-around;
  margin: 20px;
  width: 40%;
  /* border: solid; */
}

.pro-ico {
  background-color: white;
  padding: 10px;
  border-radius: 50%;
}

.details {
  width: 50%;
  height: max-content;
}

.team {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  padding: 25px;
  /* border: solid; */
}

.team h2, p {
  /* border: solid; */
  margin: 0;
}

.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

#main-pic {
  width: 70px;
  height: 70px;
  border: solid 3px white;
}

.indicator-icons {
  display: flex; 
  align-items: center; 
  background-color: #f4f4f4; 
  padding: 10px; 
  border-radius: 30px; 
  margin-left: -50px;
}

.text-box {
  background-color: #e4effa;
  width: 60%;
  border-radius: 20px 20px 0 20px;
  margin: 20px;
  padding: 15px;
  font-size: 14px;
  float: right;
}

.project {
  margin-top: 20px;
  background-color: white;
  border-radius: 20px;
  padding: 25px;
  display: flex;
  flex-direction: column;
}

.team-member {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  /* border: solid; */
  margin: 10px 0;
}