body {
  background-color: #e0dfdf;
  padding: 10px;
}

.left {
  width: 24%;
  background-color: #f4f4f4;
  border-radius: 20px;
  /* margin: 0 10px; */
  padding: 10px 20px;
}

.left li {
  list-style: none;
}

.left li a {
  text-decoration: none;
}